@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg {
  background-color: #f2f2f2;
}

.nav-link-color {
  color: #2f2f2f;
}

.dark-blue-text {
  color: #242F65;
}

.gray-text {
  color: #525665;
}

.beigeish-bg {
  background-color: #fef9f3;
}
